<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
  </head>
  <body>
    <nav>
      <a href="/students">Show Students</a>
    </nav>
    <%= yield %>
  </body>
</html>
